<ion-view title="Cart Tab Default Page" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="cartTabDefaultPage-list5">
      <ion-item class="item-thumbnail-left" id="cartTabDefaultPage-list-item13">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="cartTabDefaultPage-list-item14">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="cartTabDefaultPage-list-item15">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>