<ion-view title="Page Immges" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-list id="pageImmges-list10">
      <ion-item class="item-icon-left" id="pageImmges-list-item24">
        <i class="icon ion-image"></i>Image1</ion-item>
      <ion-item class="item-icon-left" id="pageImmges-list-item25">
        <i class="icon ion-image"></i>Image2</ion-item>
      <ion-item class="item-icon-left" id="pageImmges-list-item26">
        <i class="icon ion-image"></i>Imge3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>