<ion-view title="Page Friends" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="pageFriends-card21">
      <ion-item class="item-avatar" id="pageFriends-list-item31">
        <h2>Frined1</h2>
      </ion-item>
      <ion-item class="item-avatar" id="pageFriends-list-item32">
        <h2>Friend2</h2>
      </ion-item>
      <ion-item class="item-avatar" id="pageFriends-list-item33">
        <h2>Friend3</h2>
      </ion-item>
      <ion-item class="item-avatar" id="pageFriends-list-item34">
        <h2>Friend4</h2>
      </ion-item>
    </div>
  </ion-content>
</ion-view>